.maincontainer {
  font-size: 16px; /* Increased the base font size */
  font-weight: bold;
}

.container{
  
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.header * {
  color: #fff !important;
}

#logout-btn:hover {
  background-color: #ac0112 !important;
}
#signin-btn {
  color: black;
  background-color: rgb(15, 189, 15) !important;
}

#signin-btn:hover {
  background-color: rgb(6, 96, 6) !important;
}
.navbar {
  background-color: black;
  padding: 10px 20px;
}

.logo {
  font-size: 34px; /* Increased the font size of the logo */
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

.navbar-brand{
  margin-right: 11vw !important;
}

.navbar-link {
  font-size: 16px;
  color: #fff;
  margin-right: 50px;
  font-weight: 500 !important;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px 15px;
}

.navbar-link:hover {
  text-decoration: underline;
  color: green; /* Optional: Add a hover color */
}

.header-action-btn {
  font-size: 18px; /* Increased the font size of the action buttons */
  margin-left: 15px;
  background-color: #dc3545 !important;
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-danger,
.btn-outline-success {
  font-size: 18px; /* Ensure the buttons have a consistent font size */
}

@media (min-width: 992px) {
  .navbar .navbar-nav {
    margin-left: auto;
  }

  .header-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
