<div id="top" class="maincontainer">
  <header id="home" class="header">
    <div class="header-top navbar navbar-expand-lg">
      <div class="container">
        <a [routerLink]="['']" class="navbar-brand logo"> Carbon Sense </a>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto navbar-list" *ngIf="isLoggedIn">
            <li class="nav-item">
              <a class="nav-link navbar-link" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-link" [routerLink]="['/dashboard']"
                >Dashboard</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-link" [routerLink]="['/factors']"
                >Consumption</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-link" [routerLink]="['/']">FAQ</a>
            </li>
          </ul>

          <ul class="navbar-nav me-auto navbar-list" *ngIf="!isLoggedIn">
            <li class="nav-item">
              <a class="nav-link navbar-link" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-link" [routerLink]="['/']">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-link" [routerLink]="['/']">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-link" [routerLink]="['/']">FAQ</a>
            </li>
          </ul>

          <div class="d-flex align-items-center">
            <button
              *ngIf="isLoggedIn"
              class="btn btn-outline-danger header-action-btn"
              id="logout-btn"
              aria-label="sign out"
              (click)="signOut()"
            >
              Logout
            </button>
            <button
              *ngIf="!isLoggedIn"
              class="btn header-action-btn"
              id="signin-btn"
              aria-label="sign in"
              (click)="signIn()"
            >
              Sign in
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
