<app-header></app-header>
<div class="page-container">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Electricity Consumption</h2>
      </div>
      <form class="card-body" #form>
        <div class="form-group">
          <label for="electricityInput">Electricity Usage (kWh)</label>
          <input type="number" id="electricityInput" name="electricityInput" class="form-control" placeholder="Enter electricity usage" [(ngModel)] ="units" required>
        </div>
        <button class="btn btn-primary btn-block mt-4" (click)="onSubmit()" [disabled]="!units">Submit</button>
      </form>
    </div>
  </div>

<app-footer></app-footer>
