.u-container {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  padding: 70px;
  margin-bottom: 200px;
}

.categories {
  display: flex;
  gap: 10px;
  background-color: #eee;
  padding: 8px;
  border-radius: 8px;
}

/* .dialog {
  background-color: green;
} */

.tab {
  /* border: solid 1px black; */
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 10vw;
  background-color: #eee;
}

.selected {
  background-color: #fff;
}

.form {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: start;
  width: 50vw;
  width: 50vw;
}
