.container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap:50px;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.categories{
  display: flex;
}

.tab{
  border: solid 1px black;
  padding: 8px;
  
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}
