<app-header></app-header>
<div class="container">
  <div class="d-flex flex-row-reverse">
    <div class="electricity d-flex flex-row justify-content-center m-4 ">
      <div class="img-div">
        <img src="assets/electricity.webp" alt="electricity" class="card-img">
      </div>
      <div class="content d-flex flex-column justify-content-center p-3">
        <h4>Electricity</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ab consectetur necessitatibus fugit est! Suscipit non excepturi quos consectetur, molestiae eius quidem iure culpa sit accusantium magni commodi voluptatum voluptatem.</p>
        <div>
          <button class="btn btn-dark">View</button>
        </div>
      </div>
    </div>
  </div>
  <div class="electricity d-flex flex-row justify-content-center m-4 ">

    <div class="content d-flex flex-column justify-content-center p-3">
      <h4>Electricity</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ab consectetur necessitatibus fugit est! Suscipit non excepturi quos consectetur, molestiae eius quidem iure culpa sit accusantium magni commodi voluptatum voluptatem.</p>
      <div>
        <button class="btn btn-dark">View</button>
      </div>
    </div>
    <div class="img-div">
      <img src="assets/electricity.webp" alt="electricity" class="card-img">
    </div>
  </div>
  <div class="electricity d-flex flex-row justify-content-center m-4 ">
    <div class="img-div">
      <img src="assets/electricity.webp" alt="electricity" class="card-img">
    </div>
    <div class="content d-flex flex-column justify-content-center p-3">
      <h4>Electricity</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ab consectetur necessitatibus fugit est! Suscipit non excepturi quos consectetur, molestiae eius quidem iure culpa sit accusantium magni commodi voluptatum voluptatem.</p>
      <div>
        <button class="btn btn-dark">View</button>
      </div>
    </div>
  </div>
  <div class="electricity d-flex flex-row justify-content-center m-4 ">

    <div class="content d-flex flex-column justify-content-center p-3">
      <h4>Electricity</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ab consectetur necessitatibus fugit est! Suscipit non excepturi quos consectetur, molestiae eius quidem iure culpa sit accusantium magni commodi voluptatum voluptatem.</p>
      <div>
        <button class="btn btn-dark">View</button>
      </div>
    </div>
    <div class="img-div">
      <img src="assets/electricity.webp" alt="electricity" class="card-img">
    </div>
  </div>
  <div class="electricity d-flex flex-row justify-content-center m-4 ">
    <div class="img-div">
      <img src="assets/electricity.webp" alt="electricity" class="card-img">
    </div>
    <div class="content d-flex flex-column justify-content-center p-3">
      <h4>Electricity</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ab consectetur necessitatibus fugit est! Suscipit non excepturi quos consectetur, molestiae eius quidem iure culpa sit accusantium magni commodi voluptatum voluptatem.</p>
      <div>
        <button class="btn btn-dark">View</button>
      </div>
    </div>
  </div>
  <div class="electricity d-flex flex-row justify-content-right m-4 ">
    <div class="content d-flex flex-column justify-content-center p-3">
      <h4>Electricity</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ab consectetur necessitatibus fugit est! Suscipit non excepturi quos consectetur, molestiae eius quidem iure culpa sit accusantium magni commodi voluptatum voluptatem.</p>
      <div>
        <button class="btn btn-dark">View</button>
      </div>
    </div>
    <div class="img-div">
      <img src="assets/electricity.webp" alt="electricity" class="card-img">
    </div>
  </div>
</div>
<app-footer></app-footer>