<app-header></app-header>
<div id="home">
  <!--header-->

  <section class="banner">
    <div class="container">
      <div class="visual">
        <img src="assets/factory1.jpg" alt="" class="img-default" />
      </div>

      <div class="text" style="margin-right: 1vw">
        <!-- <h1>Business for Every Entrepreneur</h1> -->
        <h2>How big is your Environmental Footprint</h2>
        <p>
          Our world is in crisis - from climate change to the pollution in our
          oceans and devastation of our forests. It's up to all of us to fix it.
          Take your first step with our footprint calculator.
        </p>
        <a [routerLink]="'/factors'" class="btn header-action-btn"
          >Get Started &nbsp; <i class="fa-solid fa-arrow-right-long"></i
        ></a>
      </div>
    </div>
  </section>
  <!--banner-->

  <!-- <section class="about" id="about">
    <div class="container">
      <div class="text flex-sb">
        <h2>About Us</h2>
        <div class="para">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <p>
            It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </div>

      <div class="visual">
        <img src="images/pic2.jpg" alt="" class="fit" />
      </div>
    </div>
  </section> -->

  <section class="services" id="services">
    <div class="container">
      <h2>How we calculate ?</h2>

      <div class="services-items flex-sb">
        <div class="item">
          <i class="fa-solid fa-city"></i>
          <h3>Electricity</h3>
          <p>
            We calculate your electricity footprint based on the total kWh you
            use each month, considering your provider and energy source
          </p>
        </div>

        <div class="item type2">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          <h3>Transport</h3>
          <p>
            We calculate your transport footprint by considering the type of
            vehicle, fuel used, and distance traveled on a regular basis.
          </p>
        </div>

        <div class="item">
          <i class="fa-solid fa-bullhorn"></i>
          <h3>Water Usage</h3>
          <p>
            Water usage is calculated from household consumption patterns,
            including shower times, laundry habits, and appliance efficiency.
          </p>
        </div>

        <div class="item type2">
          <i class="fa-solid fa-comments"></i>
          <h3>Waste</h3>
          <p>
            Waste emissions are calculated by analyzing the amount of household
            waste produced and how much of it is recycled.
          </p>
        </div>

        <div class="item">
          <i class="fa-solid fa-people-group"></i>
          <h3>Dietary Habits</h3>
          <p>
            Dietary habits are analyzed by considering the type and amount of
            food you consume, with a focus on meat, dairy, and plant-based
            foods.
          </p>
        </div>

        <div class="item type2">
          <i class="fa-solid fa-recycle"></i>
          <h3>Domestic Fuels</h3>
          <p>
            We estimate domestic fuel impact by assessing the type of fuels used
            for heating, cooking, and other household energy needs
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--about-->

  <section class="projects" id="projects">
    <div class="container">
      <div class="project-item flex-sb">
        <div class="text">
          <h3>FAQ</h3>

          <p><strong>Q1: What is a carbon footprint?</strong></p>
          <p>
            A carbon footprint is the total amount of greenhouse gases emitted
            by human activities, typically measured in CO2 equivalent.
          </p>

          <p><strong>Q2: How do you calculate my carbon footprint?</strong></p>
          <p>
            We calculate your carbon footprint by analyzing your inputs in
            categories like transport, electricity, water, waste, domestic
            fuels, and dietary habits.
          </p>

          <p><strong>Q3: How can I reduce my carbon footprint?</strong></p>
          <p>
            You can reduce your footprint by using energy-efficient appliances,
            driving less, recycling more, reducing water consumption, and
            adopting a plant-based diet.
          </p>

          <p>
            <strong>Q4: How accurate are the footprint calculations?</strong>
          </p>
          <p>
            Our calculations provide a close estimate based on the data you
            provide and general emission factors for each category.
          </p>

          <p>
            <strong
              >Q5: Why do dietary habits affect my carbon footprint?</strong
            >
          </p>
          <p>
            Different foods have different environmental impacts. For example,
            producing meat generates more emissions than plant-based foods.
          </p>

          <p><strong>Q6: What can I do with my results?</strong></p>
          <p>
            Your results help you understand your impact on the environment and
            offer insights into how you can reduce your carbon footprint.
          </p>

          <p>
            <strong
              >Q7: Why is transportation such a big contributor to carbon
              emissions?</strong
            >
          </p>
          <p>
            Transportation, especially by car and plane, uses fossil fuels,
            which release significant amounts of CO2 into the atmosphere.
          </p>

          <p>
            <strong
              >Q8: Can renewable energy reduce my carbon footprint?</strong
            >
          </p>
          <p>
            Yes, switching to renewable energy sources like solar or wind
            significantly lowers your electricity-related emissions.
          </p>

          <!-- <p>
            <strong
              >Q9: Does water consumption affect my carbon footprint?</strong
            >
          </p>
          <p>
            Yes, treating and heating water requires energy, contributing to
            your overall carbon emissions.
          </p> -->

          <!-- <p>
            <strong
              >Q10: What are domestic fuels, and why do they matter?</strong
            >
          </p>
          <p>
            Domestic fuels include heating oil, natural gas, and other fuels
            used in homes. Burning these fuels emits CO2 and other greenhouse
            gases.
          </p> -->
        </div>
      </div>
    </div>
  </section>
  <!--projects-->

  <section class="contact" id="contact">
    <div class="container">
      <h2>Contact Us</h2>

      <div class="contact-options flex-sb">
        <div class="formarea">
          <form
            id="contactform"
            method="post"
            action="form/contactform.php"
            class="contactform flex-sb"
          >
            <fieldset class="half">
              <label>Name*</label>
              <input type="text" name="name" />
            </fieldset>
            <fieldset class="half">
              <label>Email*</label>
              <input type="email" name="email" />
            </fieldset>
            <fieldset class="half">
              <label>Subject*</label>
              <input type="text" name="subject" />
            </fieldset>
            <fieldset class="half">
              <label>Phone*</label>
              <input type="text" name="phone" />
            </fieldset>
            <fieldset class="full">
              <label>Message*</label>
              <textarea name="message"></textarea>
            </fieldset>
            <button
              type="submit"
              name="submit"
              id="submit"
              style="border: solid 1px white"
            >
              Submit &nbsp;
            </button>
          </form>
        </div>
        <div class="contact-info">
          <ul>
            <li>
              <a href="#"
                ><i class="fa-regular fa-envelope"></i>
                &nbsp;
                <strong>Email:</strong>
                infoyouremail.com</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa-solid fa-phone"></i> &nbsp;
                <strong>Phone:</strong> (+) 222-333-444</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!--contact-->
  <!--footer-->
</div>
<app-footer></app-footer>
