<app-header></app-header>
<div class="page-container">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Waste Details</h2>
      </div>
      <form class="card-body" #form>
        <div class="form-group">
          <label for="recyclableInput">Recyclable Waste (Kilos)</label>
          <input type="number" id="recyclableInput" name="recyclableInput" class="form-control" placeholder="Enter recyclable waste" [(ngModel)]="recyclableWaste">
        </div>
        <div class="form-group mt-3">
          <label for="nonRecyclableInput">Non-Recyclable Waste (Kilos)</label>
          <input type="number" id="nonRecyclableInput" name="nonRecyclableInput" class="form-control" placeholder="Enter non-recyclable waste" [(ngModel)]="nonRecyclableWaste">
        </div>
        <button class="btn btn-primary btn-block mt-4" (click)="onSubmit()" [disabled]="!nonRecyclableWaste&&!recyclableWaste">Submit</button>
      </form>
    </div>
  </div>

  <app-footer></app-footer>
