.chart-card {
    margin: 20px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .chart-card .card-body {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-group-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Ensures buttons are vertically centered */
  }
  
  .btn-success {
    background-color: #00712D;
    border-color: #4caf50;
}
.btn{
    padding: 4px;
    font-size: 10px;
}

  

  