<h1>Emission Factors Timeline</h1>
<ul>
    <li style="--accent-color:#41516C">
        <div class="title">
            <img src="assets/electricity.webp" alt="" class="card-img">
        </div>
    </li>
    <li style="--accent-color:#FBCA3E">
        <div class="title">
            <img src="assets/transport.webp" alt="" class="card-img">
        </div>
    </li>
    <li style="--accent-color:#E24A68">
        <div class="title">
            <img src="assets/waste.webp" alt="" class="card-img">
        </div>
    </li>
    <li style="--accent-color:#1B5F8C">
        <div class="title">
            <img src="assets/dietary.webp" alt="" class="card-img">
        </div>
    </li>
    <li style="--accent-color:#4CADAD">
        <div class="title">
            <img src="assets/lpg.webp" alt="" class="card-img">
        </div>
    </li>
    <li style="--accent-color:#9B59B6">
        <div class="title">
            <img src="assets/water.webp" alt="" class="card-img">
        </div>
    </li>
</ul>
<div class="credits"><a target="_blank" href="https://www.freepik.com/free-vector/infographic-template-with-yearly-info_1252895.htm">inspired by</a></div>
