<app-header></app-header>
<div class="d-flex top-div">
    <div class="user-details-wrapper">
      <div class="card user-details-card ">
        <div class="avatar text-center pt-4">
            <img src="assets/avatar.png" alt="">
        </div>
        <div>
            <h2>Username</h2>
            <h2>Email</h2>
        </div>
        <hr>
        <div>
            <h2>Emission Deatails:</h2>
        </div>
      </div>
    </div>
    <div class="scrollable-content">
      <div class="container">

        <app-pie-chart></app-pie-chart>
      </div>
      <app-radial-bar-chart></app-radial-bar-chart>
    </div>
  </div>
  